body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(to left, #ff9800, #f44336);
    color: white;
    text-align: center;
    padding: 25px;
}