body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(to left, #ff9800, #f44336);
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #222;
    text-align: center;
}

nav a {
    color: #f2f2f2;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

main {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1ox solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #ff9800;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}