body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(to left, #ff9800, #f44336);
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #222;
    text-align: center;
}

nav a {
    color: #f2f2f2;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

main {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1ox solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #ff9800;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-bottom: 5px solid #ff9800;
}


/*======== contact page ========*/

.contact {
    max-width: 600px;
    margin: auto 40px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #f44336;
    font-size: 28px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    margin-bottom: 15px;
    padding: 14px;
    font-size: 16px;
    border-radius: 1px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border-color: #ff9800;
    box-shadow: 0 05px rgba(255, 152, 0, 0.5);
}

.contact button {
    background: linear-gradient(to left, #ff9800, #f44336);
    color: white;
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.contact button:hover {
    opacity: 0.9;
    transform: translate(-2px);
}

.contact-info {
    text-align: center;
    margin-top: 25px;
    color: #444;
    font-size: 15px;
}

.contact-info p {
    margin: 8px 0;
}